<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../styles//aboutus.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"/>
    <title>GetHome</title>
</head>
<body> 
    <nav class="navbar-local">
        <div class="max-width">
            <div class="logo">
                <a href="../index.html">
                    <i class="fas fa-home"></i>
                    <p>GetHome</p>
                 </a>
            </div>
            <ul class="menu">
                <li><a href="../index.html">Home</a></li>
                <li><a href="./findhome.html">Find Home</a></li>
                <li><a href="./aboutus.html">Aboutus</a></li>
                <li><a href="./host.html">Host</a></li> 
                <li><a href="./Login.html">Login</a></li>
            </ul>
            <div class="menu-btn">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </nav>
    <section >
        <div class="background"></div>
    </section>
        
    <section class="about-us">
        <h1>About Us</h1>
        <p>GetHome is a community based on connections.A community established on the year 2020 when three friends thought about the idea of connecting the owner of the house and the tenant in India.
            It has started with 3 hosts and 5 tenants and now it has grown upto 5,000 hosts and 40,000+ tenants. At GetHome,we work in an environment where every employee works as it's their resposibility
            to serve the people by meeting their maximum needs with less effort.
        </p>
    </section>
    <section class="vision">
        <h1>Our Vision</h1>
        <p>Delivering the trustworthy and best sellers with best homes</p>
    </section>
    <section class="leadership">
        <h1>MEET OUR LEADERSHIP</h1>
        <div class="leadership_description">
            <div class="leader">
                <div class="imgbox">
                    <img src="https://images.unsplash.com/photo-1484791157513-a10e2f89c2a8?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80" alt="founder">
                </div>
                <div class="leader_description">
                    <h3>Jaya Hari B</h3>
                    <p>Founder</p>
                </div>
            </div>
            <div class="leader">
                <div class="imgbox">
                    <img src="https://images.unsplash.com/photo-1484791157513-a10e2f89c2a8?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80" alt="founder">
                </div>
                <div class="leader_description">
                    <h3>Jaya Hari B</h3>
                    <p>Founder</p>
                </div>
            </div>
            <div class="leader">
                <div class="imgbox">
                    <img src="https://images.unsplash.com/photo-1484791157513-a10e2f89c2a8?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80" alt="founder">
                </div>
                <div class="leader_description">
                    <h3>Jaya Hari B</h3>
                    <p>Founder</p>
                </div>
            </div>
        </div>
    </section>
    <section class="values">
        <h1>Our Values</h1>
        <div class="values_description">
            <div class="value">
                <i class="icon-color massive eye icon"></i>
                <h2>Focus & Hardwork</h3>
                <p>Our team constantly works hard to provide the better results for your home search</p>
            </div>
            <div class="value">
                <i class="icon-color massive icon thumbs up"></i>
                <h2>Excellence</h3>
                <p>Our team constantly works hard to provide the better results for your home search</p>
            </div>
            <div class="value">    
                <i class="icon-color massive icon lightbulb"></i>
                <h2>Innovative</h3>
                <p>Our team constantly works hard to provide the better results for your home search</p>
            </div>
            </div>
        </div>
    </section>
    </main>
    <footer>
        <div class="footer">
            <div class="footer_content">
                 <div class="about">
                     <h3>About</h3>
                     <ul>
                         <li><a href="#">How GetHome works</a></li>
                         <li><a href="#">Newsroom</a></li>
                         <li><a href="#">Careers</a></li>
                         <li><a href="#">Blog</a></li>
                         <li><a href="#">Contactus</a></li>
                     </ul>
                 </div>
                 <div class="about">
                     <h3>About</h3>
                     <ul>
                         <li><a href="#">How GetHome works</a></li>
                         <li><a href="#">Newsroom</a></li>
                         <li><a href="#">Careers</a></li>
                         <li><a href="#">Blog</a></li>
                         <li><a href="#">Contactus</a></li>
                     </ul>
                 </div>    
            </div>
            <div class="footer_copyrights">
                 <p>&#169; 2020 GetHome, Inc. All rights reserved</p>
                 <p>| <span><a href="#">Privacy</a></span>  | <span><a href="#">Terms</a></span>  | <span><a href="#">Sitemap</a></span>  |</p>
                 <div class="social_icons">
                     <a href="#"><i class="fab fa-youtube"></i></a>
                     <a href="#"><i class="fab fa-facebook"></i></a>
                     <a href="#"><i class="fab fa-twitter"></i></a>
                     <a href="#"><i class="fab fa-instagram"></i></a>
                 </div>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="../scripts//navbar.js" ></script>
</body>
</html>