<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" type="text/stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

    <link rel="stylesheet" type="text/css" href="../styles/findhome.css">
    <title>Document</title>

</head>
<body>
    <div class="navbar-local">
        <div class="max-width">
            <div class="logo">
                <a href="#">
                    <i class="fas fa-home"></i>
                    <p>GetHome</p>
                 </a>
            </div>
            <ul class="menu">
                <li><a href="../index.html">Home</a></li>
                <li><a href="./findhome.html">Find Home</a></li>
                <li><a href="./aboutus.html">Aboutus</a></li>
                <li><a href="./host.html">Host</a></li>
                <li><a href="./Login.html">Login</a></li>
            </ul>
            <div class="menu-btn">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </div>
    <div class="header-section">
        <div class="overlay"></div>
        <form class="form">
            <select>
                <option>Andhra Pradesh</option>
                <option>Telangana</option>
                <option>Karnataka</option>
                <option>Tamilnadu</option>
                <option>Kerala</option>
                <option>Maharastra</option>
                <option>Odisha</option>
                <option>Madhya Pradesh</option>

            </select>
            <input class="form-input" type="text" placeholder="Enter place or area to search">
            <input type="submit" value="search">
        </form>
    </div>
    <div class="top-picks">
        <h2>Top picks in Banglore</h2>
        <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="imgbox">
                    <img src="../images/pexels-binyamin-mellish-1396132.jpg" alt="house">
                </div>
                <div class="content">
                    <div class="left">
                        good morning<br>
                        good afternoon<br>
                        good night<br>
                    </div>
                    <div class="right">
                        hello<br>
                        nice to meet you<br>
                        bye<br>
                    </div>
                </div>
                <a href="#" class="button">Find More</a>   
              </div>
              <div class="swiper-slide">
                <div class="imgbox">
                    <img src="../images/pexels-binyamin-mellish-1396132.jpg" alt="house">
                </div>
                <div class="content">
                    <div class="left">
                        good morning<br>
                        good afternoon<br>
                        good night<br>
                    </div>
                    <div class="right">
                        hello<br>
                        nice to meet you<br>
                        bye<br>
                    </div>
                </div>   
                <a href="#" class="button">Find More</a>
              </div>
              <div class="swiper-slide">
                <div class="imgbox">
                    <img src="../images/pexels-binyamin-mellish-1396132.jpg" alt="house">
                </div>
                <div class="content">
                    <div class="left">
                        good morning<br>
                        good afternoon<br>
                        good night<br>
                    </div>
                    <div class="right">
                        hello<br>
                        nice to meet you<br>
                        bye<br>
                    </div>
                </div>   
                <a href="#" class="button">Find More</a>
              </div>
              <div class="swiper-slide">
                <div class="imgbox">
                    <img src="../images/pexels-binyamin-mellish-1396132.jpg" alt="house">
                </div>
                <div class="content">
                    <div class="left">
                        good morning<br>
                        good afternoon<br>
                        good night<br>
                    </div>
                    <div class="right">
                        hello<br>
                        nice to meet you<br>
                        bye<br>
                    </div>
                </div>   
                <a href="#" class="button">Find More</a>
              </div>
              <div class="swiper-slide">
                <div class="imgbox">
                    <img src="../images/pexels-binyamin-mellish-1396132.jpg" alt="house">
                </div>
                <div class="content">
                    <div class="left">
                        good morning<br>
                        good afternoon<br>
                        good night<br>
                    </div>
                    <div class="right">
                        hello<br>
                        nice to meet you<br>
                        bye<br>
                    </div>
                </div> 
                <a href="#" class="button">Find More</a>  
              </div>
              <div class="swiper-slide">
                <div class="imgbox">
                    <img src="../images/pexels-binyamin-mellish-1396132.jpg" alt="house">
                </div>
                <div class="content">
                    <div class="left">
                        good morning<br>
                        good afternoon<br>
                        good night<br>
                    </div>
                    <div class="right">
                        hello<br>
                        nice to meet you<br>
                        bye<br>
                    </div>
                </div>  
                <a href="#" class="button">Find More</a> 
              </div>
            </div>
        </div>
          
    </div>
    <div class="top-picks">
        <h2>Top picks in Hyderabad</h2>
        <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="imgbox">
                    <img src="../images/pexels-binyamin-mellish-1396132.jpg" alt="house">
                </div>
                <div class="content">
                    <div class="left">
                        good morning<br>
                        good afternoon<br>
                        good night<br>
                    </div>
                    <div class="right">
                        hello<br>
                        nice to meet you<br>
                        bye<br>
                    </div>
                </div>
                <a href="#" class="button">Find More</a>   
              </div>
              <div class="swiper-slide">
                <div class="imgbox">
                    <img src="../images/pexels-binyamin-mellish-1396132.jpg" alt="house">
                </div>
                <div class="content">
                    <div class="left">
                        good morning<br>
                        good afternoon<br>
                        good night<br>
                    </div>
                    <div class="right">
                        hello<br>
                        nice to meet you<br>
                        bye<br>
                    </div>
                </div>   
                <a href="#" class="button">Find More</a>
              </div>
              <div class="swiper-slide">
                <div class="imgbox">
                    <img src="../images/pexels-binyamin-mellish-1396132.jpg" alt="house">
                </div>
                <div class="content">
                    <div class="left">
                        good morning<br>
                        good afternoon<br>
                        good night<br>
                    </div>
                    <div class="right">
                        hello<br>
                        nice to meet you<br>
                        bye<br>
                    </div>
                </div>   
                <a href="#" class="button">Find More</a>
              </div>
              <div class="swiper-slide">
                <div class="imgbox">
                    <img src="../images/pexels-binyamin-mellish-1396132.jpg" alt="house">
                </div>
                <div class="content">
                    <div class="left">
                        good morning<br>
                        good afternoon<br>
                        good night<br>
                    </div>
                    <div class="right">
                        hello<br>
                        nice to meet you<br>
                        bye<br>
                    </div>
                </div>   
                <a href="#" class="button">Find More</a>
              </div>
              <div class="swiper-slide">
                <div class="imgbox">
                    <img src="../images/pexels-binyamin-mellish-1396132.jpg" alt="house">
                </div>
                <div class="content">
                    <div class="left">
                        good morning<br>
                        good afternoon<br>
                        good night<br>
                    </div>
                    <div class="right">
                        hello<br>
                        nice to meet you<br>
                        bye<br>
                    </div>
                </div> 
                <a href="#" class="button">Find More</a>  
              </div>
              <div class="swiper-slide">
                <div class="imgbox">
                    <img src="../images/pexels-binyamin-mellish-1396132.jpg" alt="house">
                </div>
                <div class="content">
                    <div class="left">
                        good morning<br>
                        good afternoon<br>
                        good night<br>
                    </div>
                    <div class="right">
                        hello<br>
                        nice to meet you<br>
                        bye<br>
                    </div>
                </div>  
                <a href="#" class="button">Find More</a> 
              </div>
            </div>
        </div>
          
    </div>
    <footer>
        <div class="footer">
            <div class="footer_content">
                 <div class="about">
                     <h3>About</h3>
                     <ul>
                         <li><a href="#">How GetHome works</a></li>
                         <li><a href="#">Newsroom</a></li>
                         <li><a href="#">Careers</a></li>
                         <li><a href="#">Blog</a></li>
                         <li><a href="#">Contactus</a></li>
                     </ul>
                 </div>
                 <div class="about">
                     <h3>About</h3>
                     <ul>
                         <li><a href="#">How GetHome works</a></li>
                         <li><a href="#">Newsroom</a></li>
                         <li><a href="#">Careers</a></li>
                         <li><a href="#">Blog</a></li>
                         <li><a href="#">Contactus</a></li>
                     </ul>
                 </div>    
            </div>
            <div class="footer_copyrights">
                 <p>&#169; 2020 GetHome, Inc. All rights reserved</p>
                 <p>| <span><a href="#">Privacy</a></span>  | <span><a href="#">Terms</a></span>  | <span><a href="#">Sitemap</a></span>  |</p>
                 <div class="social_icons">
                     <a href="#"><i class="fab fa-youtube"></i></a>
                     <a href="#"><i class="fab fa-facebook"></i></a>
                     <a href="#"><i class="fab fa-twitter"></i></a>
                     <a href="#"><i class="fab fa-instagram"></i></a>
                 </div>
            </div>
        </div>
    </footer>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script>
        var swiper = new Swiper('.swiper-container', {
          effect: 'coverflow',
          grabCursor: true,
          centeredSlides: true,
          slidesPerView: 'auto',
          spaceBetween : 50,
          coverflowEffect: {
            rotate: 0,
            stretch: 0,
            depth: 0,
            modifier: 1,
            slideShadows: false,
            
          },
          pagination: {
            el: '.swiper-pagination',
          },
        });
      </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="../scripts/navbar.js"></script>
</body>
</html>