<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin=""/>
    <script src="https://use.fontawesome.com/03b769b230.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="../styles/viewhome.css" />
</head>
<body>
    <div class="navbar-local">
        <div class="max-width">
            <div class="logo">
                <a href="#">
                    <i class="fas fa-home"></i>
                    <p>GetHome</p>
                 </a>
            </div>
            <ul class="menu">
                <li><a href="../index.html">Home</a></li>
                <li><a href="./findhome.html">Find Home</a></li>
                <li><a href="./aboutus.html">Aboutus</a></li>
                <li><a href="./host.html">Host</a></li>
                <li><a href="./Login.html">Login</a></li>
            </ul>
            <div class="menu-btn">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </div>
    <div>
    <section>
        <div class="main-heading">
            <div class="adress-block">
                <h3>2BHK Independent House</h3>
                <p>megahills,madhapur,Hyderabad</p>
            </div>
            <div class="price-block">
                <h4>12,000 <span>per month</span></h4>
                <p>1220 sq.ft</p>
            </div>
        </div>
        <div class="card-slider">
            <div class="slide">
                <img  src="../images/findhome_image.jpg" alt="home-image" />
                <img  src="../images/findhome_image2.jpg" alt="home-image" />
                <img  src="../images/pexels-binyamin-mellish-1396132.jpg" alt="home-image" />
            </div>   
        </div>
        <div class="overview">
            <h2>Overview</h2>
            <div class="features">
                <div class="featurewrapper">
                    <div class="feature">
                        <h5>Price</h5>
                        <span><i class="fas fa-rupee-sign"></i> 3500</span>
                    </div>
                    <div class="feature">
                        <h5>Bedrooms</h5>
                        <span>2</span>
                    </div>
                </div>
               <div class="featurewrapper">
                    <div class="feature">
                        <h5>Bathrooms</h5>
                        <span>2</span>
                    </div>
                    <div class="feature">
                        <h5>2 wheeler parking</h5>
                        <span>Available</span>
                    </div>
               </div>
                <div class="featurewrapper">
                    <div class="feature">
                        <h5>4 wheeler parking</h5>
                        <span>Avaialble</span>
                    </div>
                    <div class="feature">
                        <h5>Balcony</h5>
                        <span>Available</span>
                    </div>
                </div>    
            </div>
        </div>
        <div class="locality">
            <h2>Location</h2>
            <div id="mapid">

            </div>
        </div>
        <div class="contact">
            <h3>Contact Seller</h3>
            <div class="seller">
                <h3>Seller Name : <span>Srinivas</span></h4>
            </div>
            <form class="contact-form">
                <h4>Please share your contact details</h4>
                <input type="text" placeholder="enter your name"/>
                <input type="number" placeholder="enter your phone number"/>
                <p><b>Note</b> : once you send the request the seller will contact you once he sees the request</p>
                <input type="submit" value="Send Request for house"/>
            </form>
        </div>
    </section>    
    </div>
    <footer>
        <div class="footer">
            <div class="footer_content">
                 <div class="about">
                     <h3>About</h3>
                     <ul>
                         <li><a href="#">How GetHome works</a></li>
                         <li><a href="#">Newsroom</a></li>
                         <li><a href="#">Careers</a></li>
                         <li><a href="#">Blog</a></li>
                         <li><a href="#">Contactus</a></li>
                     </ul>
                 </div>
                 <div class="about">
                     <h3>About</h3>
                     <ul>
                         <li><a href="#">How GetHome works</a></li>
                         <li><a href="#">Newsroom</a></li>
                         <li><a href="#">Careers</a></li>
                         <li><a href="#">Blog</a></li>
                         <li><a href="#">Contactus</a></li>
                     </ul>
                 </div>
               
                 
            </div>
            <div class="footer_copyrights">
                 <p>&#169; 2020 GetHome, Inc. All rights reserved</p>
                 <p>| <span><a href="#">Privacy</a></span>  | <span><a href="#">Terms</a></span>  | <span><a href="#">Sitemap</a></span>  |</p>
                 <div class="social_icons">
                     <a href="#"><i class="fab fa-youtube"></i></a>
                     <a href="#"><i class="fab fa-facebook"></i></a>
                     <a href="#"><i class="fab fa-twitter"></i></a>
                     <a href="#"><i class="fab fa-instagram"></i></a>
                 </div>
            </div>
        </div>
    </footer>
    <script src="../scripts/navbar.js" defer></script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin="">
    </script>
    <script>
        var mymap = L.map('mapid').setView([14.2217557,79.135305], 15);
        const attribution = '&copy; <a href="www.google.com">openstreetmap</a>';
       const tileurl = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png'
       const tile = L.tileLayer(tileurl,{attribution});
       tile.addTo(mymap);
       L.marker([14.2217557,79.135305]).addTo(mymap);
    </script>
</body>
</html>