@import url('./navbar.css');
@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    
    font-family: sans-serif;
    background-image:url('https://image.freepik.com/free-vector/real-estate-searching_52683-46407.jpg');
    backdrop-filter: blur(5px);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.navbar-local {
    position: fixed;
    width: 100vw;
    font-family: 'Ubuntu',sans-serif;
    padding: 0.5rem 0;
    transition: all 0.3s ease;
    z-index: 2;
    overflow-x: hidden;
    background: #fff;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}
.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    user-select: none;
}
.authentication {
    width: 100%;
}
.authentication:before {
    content: '';
    position: absolute;
    width: 50%;
    height: 100vh;
    background-color: crimson;
    top: 0;
    left: -25%;
    opacity: 0.7;
}
.form {
    margin-top: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 290px;
    min-height: 300px;
    padding:40px 25px;
    background-color: white;
    box-shadow: 0px 15px 50px rgba(0,0,0,0.5);
    box-sizing: border-box;
}
.form h2 {
    color: #777;
    margin: 0 0 40px;
    padding: 0;
}
.form .inputbox {
    position: relative;
    margin: 19px 0px;
}
.form .inputbox input {
    width: 100%;
    border: none;
    border-bottom: 2px solid #777;
    outline: none;
    padding: 10px;
    padding-left: 34px;
    color: #777;
    box-sizing: border-box;
    font-size: 14px;    
}
.form .inputbox input:focus,
.form .inputbox input:valid {
    border-bottom: 2px solid crimson;
}
.form .inputbox .fas {
    position: absolute;
    top: 8px;
    left: 0;
    color: #777;
    font-size: 18px;
}
.form .inputbox .far {
    position: absolute;
    top: 8px;
    left: 0;
    color: #777;
    font-size: 18px;
}
.form .inputbox input[type="submit"] {
    border: none;
    background-color: crimson;
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s ease;
    border : 1px solid crimson;
}
.form .inputbox input[type="submit"]:hover {
    background: none;
    color: crimson;
}
.form  a {
    text-decoration: none;
    margin-top: 20px;
    color: #777;
    display: inline-block;
    transition: 0.2s ease;
    font-size: 14px;
}
.form a:hover {
    color: crimson;
}
.form p {
    font-size: 14px;
    display: inline-block;
}
.form p a {
    color: crimson;
    cursor: pointer;
}
.theme
{
    width: 55%;
    display: none;
    align-items: center;
    justify-content: center;
    min-height: 100vh;  
}
.theme p {
    font-size: 70px;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    align-items: flex-start;   
}
.theme p span {
    margin: 10px 0px;
    color: white;
    font-family:'Trispace', sans-serif;
    font-weight: 800;
}
.theme p span span {
    color: crimson;
}
@media (min-width : 1201px) {
    .menu-btn {
        display: none;
    }
    .authentication {
        width: 50%;
    }
    .theme {
        display: flex;
    }
    .form {
        width: 360px;
        left: 29%; 
        padding: 50px 35px; 
    }
    .form .inputbox {
        margin: 25px 0px;
    }
    .theme p {
        font-size: 51px;
    }
}
@media (min-width : 1025px) and (max-width : 1200px) {
    .menu-btn {
        display: none;
    }
   
    .navbar-local .menu li {
        display: inline;
    }
    .authentication {
        width: 45%;
    }
    .form {
        
        margin-top: 32px;
        width: 350px;
        left: 28%;
        padding: 50px 35px;
    }
    .form .inputbox {
        margin: 25px 0px;
    }
    .theme {
        display: flex;
    }
    .theme p {
        font-size: 45px;
    }
}
@media (min-width : 769px) and (max-width : 1024px){
    .max-width {
        padding: 0px 50px;
    }
    .menu-btn {
        display: none;
    }
    .authentication {
        width: 50%;
    }
    .form {
        margin-top: 40px;
        width: 320px;
        left: 26%;
        padding: 45px 35px;
    }
    .theme {
        display: flex;    
    }
    .theme p {
        font-size: 35px;
    }
    
}
/* for tablet's and ipad's*/

@media (min-width : 481px) and (max-width : 768px) {
   
    .authentication {
        width: 70%;
    }
    .authentication:before {
        left: -20%;
    }
    .form {
        width: 310px;
        left: 45%;
       padding: 45px 35px;
    }
}


